body {
    color: #fff;
}

.choice-containter {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(191, 87, 0);
    font-size: 3rem;
    min-width: 80rem;
}

.choice-containter:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(191, 87, 0);
    transform: scale(1.02);
    transform: transform 100ms;
}